# Data Structures in Python

List , Set , Dictionaries and Tuple are the Data Structure in Python that are used to store and organized the data in an efficient manner.

## Set

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

Sets are used to store multiple items in a single variable.A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [3]:
# Create a Set
set1 = {'a', 'c','b'}
set1

{'a', 'b', 'c'}

In [4]:
type(set1)

set

In [14]:
lst1 = [1,2,3,4,5,6,6,6,6,6,6]
type(lst1)

list

In [39]:
# Transform a List into a Set. List may contain duplicate values but when you transform a List into a Set - 
#it will give you unique value only. Remove Duplicate
set2 = set(lst1)
set2

{1, 2, 3, 4, 5, 6}

###### Pop

In [36]:
# By default it will pop the value from ZERO index
set2.pop()

3

###### Remove

In [40]:
# Remove will delete any existing item from a Set
set2 = {1, 2, 3, 4, 5, 6}
set2.remove(2)
set2

{1, 3, 4, 5, 6}

###### Removing Duplicates

In [41]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1,'mukesh','priyanka','rudra','mukesh','priyanka']

In [43]:
# It will remove all duplicate values
set2=set(list1)
set2

{1, 2, 3, 4, 5, 6, 'mukesh', 'priyanka', 'rudra'}